@model TP4.Core.Tecnologia;
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Agrega Tecnologia</title>
</head>

<body>
    <main>
        <form asp-action="AltaTecnologia" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Nombre" class="form-label">Nombre</label>
                <input asp-for="Nombre" class="form-control">
                <label asp-for="CostoBase" class="form-label">Costo Base</label>
                <input asp-for="CostoBase" class="form-control">
                <input type="hidden" asp-for="IdTecnologia" />
            </div>
            <div>
                <button type="submit">Agregar</button>
            </div>
        </form>
    </main>
</body>

</html>