@model TP4.Core.Cliente;
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Agregra Cliente</title>
</head>

<body> 

    <main>
        <form asp-action="AltaCliente" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="RazonSocial" class="form-label">Razon Social</label>
                <input asp-for="RazonSocial" class="form-control">
                <label asp-for="Cuit" class="form-label">Cuit</label>
                <input asp-for="Cuit" class="form-control">
                <input type="hidden" asp-for="Cuit" />
            </div>
            <div>
                <button type="submit">Agregar</button>
            </div>
        </form>
    </main>
</body>

</html>