@using TP4.Core;
@model IEnumerable<Proyecto>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Lista Proyecto</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Descripcion
                </th>
                <th>
                    Presupuesto
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Proyecto proyecto in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index"
                        asp-route-id="@proyecto.Descripcion">@proyecto.Descripcion</a>
                    </td>
                    <td>
                        <a asp-controller="Proyecto" asp-action="Index"
                        asp-route-id="@proyecto.Presupuesto">@proyecto.Presupuesto</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    
</body>
</html>