@using TP4.Core;
@model IEnumerable<Cliente>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clientes</title>
</head>

<body>
    <h1>Lista Cliente</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Cuit
                </th>
                <th>
                    Razon Social
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cliente cliente in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Cliente" asp-action="Index" asp-route-id="@cliente.Cuit">@cliente.Cuit</a>
                    </td>
                    <td>
                        <a asp-controller="Cliente" asp-action="Index" asp-route-id="@cliente.Cuit">@cliente.RazonSocial</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Cliente" asp-action="AltaCliente"><button>Agregar Cliente</button></a>

</body>

</html>