@model TP4.Core.Requerimiento;
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Agregra Requerimiento</title>
</head>

<body>
    <main>
        <form asp-action="AltaRequerimiento" method="post">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="IdRequerimiento" class="form-label">IdRequerimiento</label>
                <input asp-for="IdRequerimiento" class="form-control">

                <label asp-for="Descripcion" class="form-label">Descripcion</label>
                <input asp-for="Descripcion" class="form-control">

                <label asp-for="Complejidad" class="form-label">Complejidad</label>
                <input asp-for="Complejidad" class="form-control">

                <label asp-for="IdTecnologia" class="form-label">IdTecnologia</label>
                <input asp-for="IdTecnologia" class="form-control">

                <label asp-for="IdProyecto" class="form-label">IdProyecto</label>
                <input asp-for="IdProyecto" class="form-control">
            </div>
            <div>
                <button type="submit">Agregar</button>
            </div>
        </form>
    </main>
</body>