@using tp4.Core.Mvc.ViewModels;
@model VMRequerimiento
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Agregra Requerimiento</title>
</head>

<body>
    <main>
        <form asp-action="AltaRequerimiento" method="post">
            <div asp-validation-summary="All"></div>
            <div>

                <label asp-for="DescripcionRequerimiento" class="form-label">Descripcion</label>
                <input asp-for="DescripcionRequerimiento" class="form-control">

                <label asp-for="ComplejidadRequerimiento" class="form-label">Complejidad</label>
                <input asp-for="ComplejidadRequerimiento" class="form-control">
                <input type="hidden" asp-for="IdRequerimiento" />
                <br>
                <p>Proyecto:</p>
                <select asp-items="Model.Proyectos" asp-for="IdProyecto" class="form-select">
                    @if (Model.IdProyecto == 0)
                    {
                        <option selected="selected" value="" disabled>Selecione un Proyecto</option>
                    }
                </select>
                <br>
                <p>Tecnologia:</p>
                <select asp-items="Model.Tecnologias" asp-for="IdTecnologia" class="form-select">
                    @if (Model.IdTecnologia == 0)
                    {
                        <option selected="selected" value="" disabled>Selecione una Tecnologia</option>
                    }
                </select>
            </div>
            <div>
                <button type="submit">Agregar</button>
            </div>
        </form>
    </main>
</body>